<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles User</title>
</head>
<body>
<P>Пользователь имеет роли: </P>
<div th:each="roleUser : ${user.getRoles()}">
    <p th:text="${roleUser.getRole()}"></p>
</div>


<div th:if="${not #lists.isEmpty(availableRole)}">
    <p>Вы можете добавить такую роль, как: </p>
</div>
<div th:each="allRole : ${availableRole}" th:if="${not #lists.isEmpty(availableRole)}">
    <p th:text="${allRole.getRole()}"></p>
</div>

<form th:method="PATCH" th:action="@{/admin/{id}/roles(id=${user.getId()})}" th:object="${newRole}">
    <label for="Add-role">Add Role: </label>
    <input type="text" th:field="*{role}" id="Add-role">
    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Add role error</div>
    <br/>

    <input type="submit" value="Add role">
</form>
<br/>

<form th:method="GET" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Cancel">
</form>
<br/>

</body>
</html>