<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<p th:text="'Name ' + ${user.getName()}"><p/>
<p th:text="'Email ' + ${user.getEmail()}"><p/>
<p th:text="'Age ' + ${user.getAge()}"><p/>
<div></div>
<br/>

<form th:method="GET" th:action="@{user/edit}">
    <input type="submit" value="Edit info">
</form>
<br/>

<div th:each="role : ${user.getRoles()}" th:if="${role.getRole().equals('ROLE_ADMIN')}">
    <form th:method="GET" th:action="@{/admin}">
        <input type="submit" value="Cancel admin panel">
    </form>
    <br/>
</div>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>